@model IEnumerable<Entities.Concrete.CarInformation>
    ViewData["Title"] = "Home Page";
}

    <div class="hero" style="background-image: url('public/images/hero_1_a.jpg');">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-10">

                    <div class="row mb-5">
                        <div class="col-lg-7 intro">
                            <h1><strong>Rent a car</strong> is within your finger tips.</h1>
                        </div>
                    </div>

                    <form class="trip-form">

                        <div class="row align-items-center">
                            <div class="mb-3 mb-md-0 col-md-3">
                                <select name="" id="" class="custom-select form-control">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.CityId">@item.City.Name</option>                                        
                                    }
                                </select>
                            </div>
                            <div class="mb-3 mb-md-0 col-md-3">
                                <select name="" id="" class="custom-select form-control">
                                    <option value="">Make</option>
                                    <option value="">Ferrari</option>
                                    <option value="">Toyota</option>
                                    <option value="">Ford</option>
                                    <option value="">Lamborghini</option>
                                </select>
                            </div>
                            <div class="mb-3 mb-md-0 col-md-3">
                                <select name="" id="" class="custom-select form-control">
                                    <option value="">Model</option>
                                    <option value="">Ferrari</option>
                                    <option value="">Toyota</option>
                                    <option value="">Ford</option>
                                    <option value="">Lamborghini</option>
                                </select>
                            </div>

                            <div class="mb-3 mb-md-0 col-md-3">
                                <input type="submit" value="Search Now" class="btn btn-primary btn-block py-3">
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>